@media only screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  #site-header {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 0;
    margin: 0 0 0 1rem;
  }

  #nav-bar a {
    margin: 0.25rem 0;
    padding: 0;
  }

  .section-inner-cont {
    padding: 0;
    width: 100%;
    /*border: 1px solid blue;*/
  }

  .section-sub-inner-cont {
    width: 100%;
  }

  .home-link {
    padding: 0;
    height: 40px;
    display: none;
  }

  .play-link p {
    margin-left: 0.5rem;
  }

  #section-nav {
    padding-left: 0.5rem;
  }

  #project-nav-btn-right,
  #project-nav-btn-left {
    padding: 0;
  }

  .section-nav-btn {
    background-color: transparent;
    border: none;
    font-size: 1rem;
  }

  .section-panel-cont {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-left: 1rem;
  }

  .section-panel-cont-artist {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 0 0 1rem;
  }

  .section-left-panel {
    order: 2;
  }

  .section-right-panel {
    order: 1;
    align-items: flex-start;
  }

  .section-header {
    margin-left: 1rem;
  }

  .section-text {
    width: 90%;
    margin-bottom: 1rem;
  }

  #project-img {
    max-width: 90%;
    margin-bottom: 1.5rem;
  }

  #radio-current-shows {
    gap: 5px 5px;
    width: 90%;
    margin: 0 0 1.5rem;
  }

  #email,
  #mailing-list {
    margin-bottom: 3rem;
  }

  .social-logo {
    font-size: 2rem;
    margin: 0 2rem 0 0;
  }
}
