/* =====================================================================================
   Contents
   1. Reset
   2. Global Styles
   3. Layout
      3.1 Containers
      3.2 Flexbox & Grid
      3.3 Stack
   4. Component Classes
      4.1 Layout
      4.2 Typography
      4.3 Border, margin, padding
      4.4 Archive Menu
      4.5 Hover
   5. Sections
      5.1 Site Header
      5.2 Navigation
      5.3 Projects
      5.4 Radio
      5.5 Info
   6. Media Queries     
   ===================================================================================== */

/*   
   1.Reset
   ===================================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
figcaption {
  max-width: 70ch;
}

/*   
   2. Global Styles
   ===================================================================================== */

:root {
  --projects-color: #bbc1bc;
  --radio-color: #e7e1d3;
  --info-color: #faf8f8;
  font-family: "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;

  /* modular scale */
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

body {
  background-color: #fff;
  color: #000;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 4rem;
}

#projects h3,
#radio h3 {
  font-size: 1rem;
}

:hover {
  transition: 0.2s ease-out;
}

button:hover {
  cursor: pointer;
}

p {
  line-height: 1.5;
}

a {
  color: currentColor;
  font-weight: bold;
  text-decoration: none;
}

.grid a p {
  font-weight: normal;
}

a:hover,
button:hover {
  cursor: pointer;
  opacity: 0.5;
}

article > header {
  font-size: 2em;
}

button,
input {
  background-color: transparent;
  border: none;
}

/*   
   3. Layout
   ===================================================================================== */

/* 3.1 Containers */

.section-cont {
  min-height: 100vh;
  padding: 5vh 5vw;
  scroll-snap-align: start;
}

#artist {
  scroll-snap-align: none;
}

#artist h4 {
  font-size: 1.8rem;
}

.inner-cont {
  min-width: 90vw;
}

/* 3.2 Flexbox & Grid */

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.ali-it-cnt {
  align-items: center;
}

.justify-cent {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr)); /* 32ch */
  min-width: 90vw;
  gap: 20px;
}

.grid img {
  max-width: 100%;
  max-height: auto;
}

.grid-50x50 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 4rem;
  max-width: 100%;
}

/* .grid-50x50 article {
  max-width: 65ch;
} */

.grid-50x50 img {
  max-width: 100%;
}

/* 3.3 Stack */

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

/*   
   4. Component Classes
   ===================================================================================== */

/* 4.1 Typography */

/* 2 uses */
.fnt-md {
  font-size: 1em;
}

/* 9 uses - header nav links, project nav, archive logo, social links  */
.fnt-lg {
  font-size: 2em;
}

/* 9 uses */
.bold {
  font-weight: bold;
}

#radio article,
#info article p {
  font-weight: lighter;
}

/* 4.2 Border, margin, padding */

/* 1 uses in header - REMOVE ONCE I REDO HEADER*/
.mrg-left-lg {
  margin-left: 3rem;
}

/* 4.3 Color */

.bgc-projects {
  background-color: var(--projects-color);
}

.bgc-radio {
  background-color: var(--radio-color);
}

.bgc-info {
  background-color: var(--info-color);
}

/* 4.4 Archive Button */

/* .archive {
  position: relative;
  justify-content: center;
} */

.archive-btn {
  background: transparent;
  border: none;
  color: black;
}

/* .archive-btn p {
  margin-left: 0.5rem;
} */

/* 4.5 Hover */

#email:hover,
#commercial:hover,
#nav-bar a:hover,
#info h3:hover,
#links a:hover,
form button:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
  width: -moz-fit-content;
  width: fit-content;
}

/*   
   5. Sections
   ===================================================================================== */

/* 5.1 Site Header */

#site-header .flex-col {
  justify-content: center;
}

/* 5.2 Navigation */

#nav-bar a:hover {
  padding: 0 0.25rem;
}

.home-link {
  position: fixed;
  right: 0;
  height: 4rem;
}

/* 5.4 Radio */

#radio button,
#radio button p {
  margin-left: 1rem;
}

/* 5.5 Info */

#links a {
  font-weight: lighter;
}

.mailing-list input {
  border: 1px solid;
  border-width: 0 0 1px;
  border-color: #000;
  outline: 0;
  padding: 4px;
  width: 40%;
  border-radius: 0;
}

.mailing-list button {
  border: 0;
  padding: 0.3rem;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4rem);
}

#ace-logo {
  width: 25%;
}

#slideshow {
  position: relative;
  max-width: 100%;
}

#slideshow > div {
  position: absolute;
}

/* SORT OUT !!!! */

.back-link {
  align-items: center;
  display: flex;
  font-size: 2rem;
  padding-top: 1rem;
  text-decoration: none;
}

.back-link p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
}

/* =====================================================================================  
   6. Media Queries
   ===================================================================================== */

@media only screen and (max-width: 56rem) {
  .home-link {
    display: none;
  }

  #radio-btn-text {
    display: none;
  }

  h2 {
    font-size: 3rem;
  }

  #email {
    font-size: 1.5em;
  }

  #show-page-title {
    display: none;
  }

  #ace-logo {
    width: 45%;
  }

  .grid-50x50 {
    gap: 2rem;
  }
}

@media only screen and (max-width: 38.125rem) {
  h1 {
    font-size: 22vw;
  }
}

/*
@media only screen and (max-width: 1200px) {
  .radio-grid img {
    min-width: 100%;
  }
}
*/
