html {
  font-family: "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 100%;
  margin: 0;
}

h1 {
  font-size: 10rem;
}

h2 {
  color: #000;
  font-size: 4rem;
  margin: 0;
  text-align: left;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 0.9rem;
  margin: 0;
  font-weight: lighter;
}

button:hover {
  cursor: pointer;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

/* =====================================================================================  
   Header - styles for the main header section of the home page
   ===================================================================================== */

#site-header {
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

/* =====================================================================================  
   Navigation - styles for the navigation elements
   ===================================================================================== */

#nav-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 800;
}

#nav-bar a {
  margin: 0.25rem 3rem;
  text-decoration: none;
  padding: 0 0.25rem;
}

#nav-bar a:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.home-btn {
  padding: 12px;
  position: fixed;
  right: 0;
  height: 70px;
}

.back-btn {
  background: transparent;
  border: none;
  bottom: 0;
  font-size: 1.5rem;
  padding: 12px;
  position: fixed;
  left: 0;
}

.fa-angle-left {
  margin-right: 5px;
}

.archive-link {
  align-items: center;
  display: flex;
  font-size: 2rem;
  padding-top: 1rem;
  text-decoration: none;
}

.play-link {
  align-items: center;
  display: flex;
  font-size: 2rem;
  text-decoration: none;
}

.archive-link p,
.play-link p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
}

.archive-link:hover {
  opacity: 0.6;
}

/* =====================================================================================  
   Sections - styles for the sections on the home page
   ===================================================================================== */

#site-header {
  display: flex;
}

.section-cont {
  /* display: flex;*/
  min-height: 100vh;
}

.section-inner-cont {
  display: flex;
  margin: 0 auto;
  /*padding: 3rem 0;*/
  width: 90%;
  min-height: 100vh;
}

.section-left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 3rem 0;
}

#radio .section-left-panel {
  width: 45%;
}

.section-left-panel-2 {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.section-right-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.section-header {
  display: flex;
  margin-bottom: 2rem;
}

#section-nav {
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

.project-nav,
#play-btn {
  background-color: transparent;
  border: none;
}

.project-nav:hover {
  opacity: 0.6;
}

#project-nav-btn-right,
#project-nav-btn-left {
  padding: 0 0.5rem;
  height: 30px;
}

#section-text-header {
  margin-bottom: 2rem;
}

.section-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-link {
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: none;
}

/* =====================================================================================  
   Projects - styles for the projects section on the home page
   ===================================================================================== */

#projects {
  background: #bbc1bc;
}

#project-time {
  font-size: 1rem;
}

#project-img {
  max-width: 60%;
}

/* =====================================================================================  
   Radio
   ===================================================================================== */

#radio {
  background: #e7e1d3;
}

#radio-current-shows {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2;
  gap: 15px 15px;
  width: 60%;
  margin: 0 auto 3rem;
}

#radio-current-shows img {
  max-width: 100%;
}

.radio-btn {
  background: transparent;
  border: 0;
  padding: 0;
}

/* =====================================================================================  
   Info
   ===================================================================================== */

#info {
  background: #faf8f8;
}

#info-container-grid {
  display: flex;
}

#info-left {
  margin-right: 6rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#info-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 35%;
}

/*
#social {
  margin-top: 3rem;
}
*/

.social-logo {
  font-size: 2rem;
  margin: 0 5rem 0 0;
}

#mailing-list label,
#email {
  /* font-size: 1.5rem;*/
  font-weight: bold;
  text-decoration: none;
}

#mailing-list input {
  background-color: transparent;
  font-size: 0.9rem;
  padding: 4px;
  width: 40%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #000;
  font-family: "Helvetica", "Arial", sans-serif;
}

#mailing-list button {
  background-color: transparent;
  border: 0;
  padding: 4px;
  font-size: 0.9rem;
  font-family: "Helvetica", "Arial", sans-serif;
}

#mailing-list button:hover {
  background-color: #000;
  color: white;
}

#info-div-extra {
  min-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
