html {
  font-family: "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
  height: 100vh;
}

body {
  background-color: #fff;
  color: #000;
  font-size: 100%;
  margin: 0;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 0.9rem;
  margin: 0;
  font-weight: lighter;
}

button:hover {
  cursor: pointer;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

/* =====================================================================================  
   Header - styles for the main header section of the home page
   ===================================================================================== */

#site-header {
  align-items: center;
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  width: 90%;
}

/* =====================================================================================  
   Navigation - styles for the navigation elements
   ===================================================================================== */

#nav-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 800;
}

#nav-bar a {
  margin: 0.25rem 3rem;
  text-decoration: none;
  padding: 0 0.25rem;
}

#nav-bar a:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
}

.home-link {
  padding: 10px;
  position: fixed;
  right: 0;
  height: 70px;
}

.archive-link,
.back-link {
  align-items: center;
  display: flex;
  font-size: 2rem;
  padding-top: 1rem;
  text-decoration: none;
}

.play-link {
  align-items: center;
  display: flex;
  font-size: 2rem;
  text-decoration: none;
}

.archive-link p,
.back-link p,
.play-link p {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1rem;
}

.archive-link:hover {
  opacity: 0.6;
}

#section-nav {
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

.section-nav-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.section-nav-btn:hover {
  opacity: 0.6;
}

#chevron-right,
#chevron-left,
#radio-play-btn {
  padding: 0 0.5rem;
  height: 30px;
}

/* =====================================================================================  
   Sections - styles for the sections on the home page
   ===================================================================================== */

#all-sections-container {
  overflow: scroll;
  scroll-snap-type: y proximity;
  height: 100vh;
}

.section-cont {
  display: flex;
  scroll-snap-align: start;
  scroll-padding: 10px;
}

.section-inner-cont {
  margin: 0 auto;
  min-height: 100vh;
  width: 90%;
}

.section-sub-inner-cont {
  padding: 3rem 0;
  height: 75%;
}

/* =====================================================================================  
   Section Grid
   ===================================================================================== */

.section-panel-cont {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100%;
}

.section-panel-cont-artist {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100%;
  margin: 4rem 0 0;
}

.section-left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-right-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  margin-bottom: 2rem;
}

.section-text {
  width: 90%;
}

.section-text-header {
  margin-bottom: 2rem;
}

.section-link {
  font-size: 0.8rem;
}

/* =====================================================================================  
   Projects - styles for the projects section on the home page
   ===================================================================================== */

#projects {
  background-color: #bbc1bc;
}

#project-time {
  font-size: 1rem;
}

#project-img {
  max-width: 60%;
}

/* =====================================================================================  
   Radio
   ===================================================================================== */

#radio {
  background-color: #e7e1d3;
}

#radio .section-text p {
  margin: 1rem 0;
}

#radio-current-shows {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2;
  gap: 15px 15px;
  width: 70%;
  margin: 0;
}

#radio-current-shows img {
  max-width: 100%;
}

/* =====================================================================================  
   Info
   ===================================================================================== */

#info {
  background-color: #faf8f8;
}

#address:hover {
  background-color: #000;
  color: #fff;
  opacity: 1;
  width: fit-content;
}

#connections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 25%;
}

#email {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

#mailing-list label {
  font-weight: bold;
  text-decoration: none;
}

#mailing-list input {
  background-color: transparent;
  border-width: 0 0 1px;
  border-color: #000;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.9rem;
  outline: 0;
  padding: 4px;
  width: 40%;
}

#mailing-list button {
  background-color: transparent;
  border: 0;
  font-size: 0.9rem;
  font-family: "Helvetica", "Arial", sans-serif;
  padding: 4px;
}

#mailing-list button:hover {
  background-color: #000;
  color: white;
}

#info .section-text a {
  font-weight: lighter;
  text-decoration: none;
}

#info .section-text a:hover {
  color: white;
  background-color: black;
  opacity: 1;
}

.social-logo {
  font-size: 2rem;
  margin: 0 5rem 0 0;
}
